.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.buttonGrp {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.button {
  font-size: 24px !important;
}

.test {
  margin-top: 50px;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: break-spaces;
}

.shake {
  animation: horizontal-shaking 0.15s infinite;
}

.ipTest {
  font-size: 36px !important;
  width: 150px !important;
}

.sup {
  align-self: normal;
  font-size: 16px;
}
